
<link rel="stylesheet" href="css/global.css">

<div class="article-card">
    <h2> <%= article.title %> </h2>
    <span>
        <p> <%= article.readTime %> min(s) </p>
        <p> <%= article.pubishDate %> </p>
    </span>
    <p>
        <%= article.shortDescription %>
    </p>
</div>