<html>

<head>
    <title>Mevick Systems</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
</head>
<header>
    <h2>Mevick Systems_</h2>
</header>

<body>
    <img class="background" src="/background.jpg" alt="">
    <div class="page">
        <h1>Hello World from Home</h1>
    </div>
</body>
</html>